<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SatoshiBoard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet">
</head>
<body>

    <nav>
        <a id="home-button">Home</a>
        <a id="favorites"></a>
        <a id="login-button"></a>
    </nav>

    <div class="title">
        <img src="{{ url_for('static', filename='logo.jpg') }}" alt="logo" />
        <h1>SatoshiBoard</h1>
    </div>
    <h2>V 2.0</h2>

    <div class="main-container">
        <div id="main-content"></div>
    </div>



    <p class="thx-to">Made without hurting any crypto and a lot of passion thx to <a href="https://www.coingecko.com/">CoinGecko API</a>
        <br/>(all prices are in $CAD)
    </p>
    <script src="{{ url_for('static', filename='handlechange.js') }}"></script>
    <script src="{{ url_for('static', filename='handleaccount.js') }}"></script>
    <script src="{{ url_for('static', filename='handlefav.js') }}"></script>
    <script src="https://code.highcharts.com/highcharts.js"></script>
</body>
</html>